@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    @media print {
      .navbar_collapsed {
        display: none;
      }
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  pre,
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
  }
  
  a,
  a:visited {
    color: #3498db;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }
  
  .modest-no-decoration {
    text-decoration: none;
  }
  
  html {
    font-size: 11px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    html {
      font-size: 15px;
    }
  }
  
  body {
    line-height: 1.85;
  }
  
  p,
  .modest-p {
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
  }
  
  h1,
  .modest-h1,
  h2,
  .modest-h2,
  h3,
  .modest-h3,
  h4,
  .modest-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  h1,
  .modest-h1 {
    margin-top: 0;
    font-size: 3.5rem;
  }
  
  h2,
  .modest-h2 {
    font-size: 2.5rem;
  }
  
  h3,
  .modest-h3 {
    font-size: 2rem;
  }
  
  h4,
  .modest-h4 {
    font-size: 1.5rem;
  }
  
  h5,
  .modest-h5 {
    font-size: 1.125rem;
  }
  
  h6,
  .modest-h6 {
    font-size: 1rem;
  }
  
  small,
  .modest-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
  
  @import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);
  
  html {
    font-size: 18px;
    max-width: 100%;
  }
  
  body {
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 1280px;
    line-height: 1.45;
    padding: .25rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arimo, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3 {
    border-bottom: 2px solid #fafafa;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  
  blockquote {
    border-left: 8px solid #ff5454;
    padding: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    background: #efefef;
  }
  blockquote p {
    padding: 0 !important;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  pre,
  code {
    background-color: #fafafa;
  }

  .navbar_header {
    width: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
}

.navbar_header h1 {
  font-size: 1em !important;
  position: fixed;
  left: 50px;
  padding: 0;
  border: 0;
}

#navbar button {
  position: fixed;
  margin: 0;
}

.navbar_header button {  
  background: none;
  border: none;
  font-size: 1em;
  position: fixed;
  left: 0;
}

.navbar_header button:hover {
    background-color: #3a7ea5 !important;
}

#content {
    margin-top: 50px;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index:1;
  overflow:auto;
  display: none;
  background: #efefef !important;
  white-space: nowrap;
  overflow-y: auto;
  height:100vh;
  padding-right: 10px;
}

#navbar button {
  background: none;
  border: none;
  font-size: 1em;
  position: fixed;
  left: 0;
}

.navbar_collapsed {
    background: #dbdbdb !important;
    border-bottom: 1px solid #000000;
    display:inline-block;
    width: 100% !important;
    left: 0;
    top: 0;
    padding-left: 20px;
    height: 25px;
}